<div id="main-header" class="main-header">
        <button class="btn js-toggle-dark-mode" aria-hidden="false" aria-label="toggle dark mode">
        <svg
            width="30"
            height="30"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
                >
            <path
                fill="currentColor"
                d="M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z"
                
            />
        </svg>
    </button>

    <script>
      let darkMode = localStorage.getItem('darkMode'); 

      const toggleDarkMode = document.querySelector('.js-toggle-dark-mode');

      toggleDarkMode.addEventListener('click', ()=>{
          console.log('test');
      });
    
      darkMode = localStorage.getItem('darkMode');
      if (darkMode === 'enabled') {
        jtd.setTheme('dark');
      } 

    jtd.addEvent(toggleDarkMode, 'click', function(){

      if (jtd.getTheme() === 'dark') {
        jtd.setTheme('light');
        localStorage.setItem('darkMode', null);
      } else {
        jtd.setTheme('dark');
        localStorage.setItem('darkMode', 'enabled');
      }
    });
    
  
    
    // When someone clicks the button
    darkModeToggle.addEventListener('click', () => {
      // get their darkMode setting
      darkMode = localStorage.getItem('darkMode'); 
      
      // if it not current enabled, enable it
      if (darkMode !== 'enabled') {
        jtd.setTheme('dark');
        console.log(darkMode);
      // if it has been enabled, turn it off  
      } else {  
        jtd.setTheme('light');
        console.log(darkMode); 
      }
    });
  </script>
    
    
    {% if site.search_enabled != false %}
      {% include components/search_header.html %}
    {% else %}
      <div></div>
    {% endif %}
    {% include header_custom.html %}

    {% if site.aux_links %}
      {% include components/aux_nav.html %}
    {% endif %}
  </div>